.main-title-1 {
    position: absolute;
    width: 1384px;
    height: 106px;
    left: calc(50% - 1384px/2 - 4px);
    top: calc(40% - 106px/2 - 40px);

    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 94px;

    color: #000000;
}

.main-title-2 {
    /* One colour came out on top */


    position: absolute;
        width: 1098px;
        height: 94px;
        left: calc(50% - 1098px/2);
        top: calc(40% - 94px/2 + 47px);
    
        font-family: 'Roboto Serif';
        font-style: normal;
        font-weight: 600;
        font-size: 80px;
        line-height: 94px;
        /* identical to box height */
    
    
        color: #000000;


    
}

.subtitle-1{
    position: absolute;
        width: 368px;
        height: 84px;
        left: calc(50% - 368px/2 + 91px);
        top: calc(40% - 84px/2 + 201px);
    
        font-family: 'Roboto Serif';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
    
        color: #000000;

}

.subtitle-2{
    /* purple */
    
    
        position: absolute;
        width: 118px;
        height: 42px;
        left: calc(50% - 118px/2 + 345px);
        top: calc(40% - 42px/2 + 222px);
    
        font-family: 'Roboto Serif';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
    
        color: #B1A0D6;
}



.bg-shape-1 {
    position: absolute;
    left: -13.53%;
    right: 2.23%;
    top: -11.52%;
    bottom: -1.51%;

    background: #EFECF7;
}

.logo3 {
    position: absolute;
    width: 369px;
    height: 137px;
    left: calc(50% - 369px/2 + 904.5px);
    top: calc(40% - 137px/2 + 250.5px);

    background: url("../imgs/logo.png");
    transform: rotate(90deg);
}